<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カードアニメーション</title>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <script type="module" src="<%= asset_path 'application.js' %>" data-turbo-track="reload"></script>
</head>
<body>
    <div id="playerHand" class="hand">
        <%= image_tag("red.png") %>
        <%= image_tag("red.png") %>
    </div>
    <button id="dealCardsButton">カードを配る</button>
</body>
</html>
